@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "react-day-picker/style.css";

*{
    font-family: poppins, sans-serif;
}

.rdp-root {
  --rdp-accent-color: rgb(87, 132, 199); /* Change the accent color to indigo. */
  --rdp-accent-background-color: #d4deec; /* Change the accent background color. */

   
}
.modal-box{
   @apply w-[40vw] h-[80vh] bg-white mx-auto rounded-lg p-5 mt-14 shadow-lg shadow-gray-400 overflow-y-scroll z-50
}

#logo{
  font-family: Meow Script, sans-serif
}